{% extends 'Manager/managerbase.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

<div class="emply-list-wraper">
    <div class="pg-title">
        <h1>All Team</h1>
    </div>

    <!-- Employs List -->
    <div class="widget-box table-wdgt">
        <table id="employeeTable">
            <thead>
                <tr style="border-bottom: 1px solid #ccc">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <div class="add-new-emply">
                            <div class="table-searchbar">
                                <div class="sidebar-search">
                                  <div>
                                    <div class="input-group">
                                      <form method="GET" action="" class="d-flex">
                                          <input type="text" name="search" class="form-control search-menu" placeholder="Search projects..."
                                                 value="{{ search_query }}" />
                                          <button class="srh-btn" type="submit" class="btn btn-primary">
                                              <i class="fa fa-search" aria-hidden="true"></i>
                                          </button>
                                      </form>
                                  </div>
                                  
                                  </div>
                                </div>
                              </div>
                            <a class="badge bg-warning" href="{% url 'team-create' %}">
                                Add <i class="fas fa-plus"></i>
                            </a>
                            <!-- <div class="dwnld-dropdown">
                                <a href="#" title="Download"><i class="fas fa-download"></i></a>
                                <div class="dwnld-dropdown-content">
                                    <a href="#" title="Download XLSX">XLSX</a>
                                    <a href="#" title="Download CSV">CSV</a>
                                </div>
                            </div> -->
                        </div>
                    </th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Project</th>
                    <th>Team Members</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.project.name }} -- {{ team.project.code }}</td>
                    <td>
                        {% for employee in team.employees.all %}
                            {{ employee.user.first_name }} {{ employee.user.last_name }}{% if not forloop.last %}, {% endif %}<br>
                        {% endfor %}
                    </td>
                    <td class="list-action-col">
                        <a href="{% url 'team-update' team.id %}"><i class="far fa-edit"></i></a>
                        <a href="{% url 'team-delete' team.id %}" onclick="return confirm('Are you sure?');"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No teams found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Dynamic Pagination -->
        {% if teams.has_other_pages %}
        <div class="pagination" id="pagination">
            {% if teams.has_previous %}
                <a href="?search={{ search_query }}&page={{ teams.previous_page_number }}">
                    <button>&laquo; Prev</button>
                </a>
            {% endif %}

            {% for num in teams.paginator.page_range %}
                <a href="?search={{ search_query }}&page={{ num }}">
                    <button class="{% if num == teams.number %}active{% endif %}">{{ num }}</button>
                </a>
            {% endfor %}

            {% if teams.has_next %}
                <a href="?search={{ search_query }}&page={{ teams.next_page_number }}">
                    <button>Next &raquo;</button>
                </a>
            {% endif %}
        </div>
        {% endif %}
        <!-- Pagination Ends -->
        
    </div>
</div>

{% endblock %}
