{% extends 'Manager/managerbase.html' %}
{% load static %}
{% block content %}

<div class="dashbrd-wraper">
  <div class="pg-title">
      <h1>Dashboard</h1>
  </div>
  <!-- TATP -->
  <div class="row status-card-row">
      <div class="col-lg-3 col-md-6">
          <div class="status-wdgt card-bg-green">
              <h5>Total Projects</h5>
              <h6>{{ total_projects }}</h6>
              <p>
                  <i class="fas fa-arrow-up"></i> <span>10%</span> Since last
                  month
              </p>

              <div class="wdgt-bg-icons"><i class="fas fa-list"></i></div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="status-wdgt card-bg-blue">
              <h5>Pending Projects</h5>
              <h6>{{ pending_projects }}</h6>
              <p>
                  <i class="fas fa-arrow-up"></i> <span>8%</span> Since last month
              </p>

              <div class="wdgt-bg-icons"><i class="fas fa-spinner"></i></div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="status-wdgt card-bg-violet">
              <h5>Completed Projects</h5>
              <h6>{{ completed_projects }}</h6>
              <p>
                  <i class="fas fa-arrow-up"></i> <span>26%</span> Since last
                  month
              </p>

              <div class="wdgt-bg-icons">
                  <i class="fas fa-tasks"></i>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 m-b-20">
          <div class="status-wdgt card-bg-orange">
              <h5>Attendance</h5>
              <h6>{{ attendance_percentage|floatformat:0 }}%</h6>
              <p>
                  <i class="fas fa-arrow-up"></i> <span>5%</span> Since last month
              </p>

              <div class="wdgt-bg-icons"><i class="fas fa-percentage"></i></div>
          </div>
      </div>
  </div>
  <!-- End TATP -->
  <div class="row mt-4 mb-4">
      <!-- Punch In Card -->
      <div class="col-lg-4 col-md-6">
          <div class="widget-box">
              <div class="attendance-card">
                  <h3>Attendance</h3>
                  <!-- Display current date and time -->
                  <div class="date">{{ current_time }}</div>

                  <div id="Puncinchart"></div>

                  <!-- Punch In Time -->
                  <div class="info">
                      <img src="{% static 'assets/images/fingerprint.png' %}" alt="Punch In">
                      Punch In at <span>{{ last_punch_in }}</span>
                  </div>

                  <!-- Punch Out Time -->
                  {% if last_punch_out != "Not Punched Out" %}
                  <div class="info">
                      <img src="{% static 'assets/images/fingerprint.png' %}" alt="Punch Out">
                      Punch Out at <span>{{ last_punch_out }}</span>
                  </div>
                  {% endif %}

                  <a href="{% url 'manager_attendance_dashboard' %}" id="punchButton">
                      {% if last_punch_in == "Not Punched In" %}
                      Punch In
                      {% else %}
                      Punch Out
                      {% endif %}
                  </a>
              </div>
          </div>
      </div>


      <!-- Leave Details Card -->
      <div class="col-lg-4 col-md-6">
          <div class="widget-box leave-card-widget">
              <div class="leave-card">
                  <button class="year-btn">{{ current_time|slice:"-4:" }}</button>
                  <div class="widget-title">
                      <h4>Leave Details</h4>
                  </div>
                  <div class="leave-details">
                      <div>
                          <span class="label">Total Leaves</span>
                          <span class="value">{{ total_leaves }}</span>
                      </div>
                      <div>
                          <span class="label">Taken</span>
                          <span class="value">{{ leaves_taken }}</span>
                      </div>
                      <div>
                          <span class="label">Annual Leave</span>
                          <span class="value">{{ annual_leave_taken }}</span>
                      </div>
                      <div>
                          <span class="label">Casual Leave</span>
                          <span class="value">{{ casual_leave_taken }}</span>
                      </div>
                      <div>
                          <span class="label">Sick Leave</span>
                          <span class="value">{{ sick_leave_taken }}</span>
                      </div>
                      <div>
                          <span class="label">Request</span>
                          <span class="value">{{ leave_requests }}</span>
                      </div>
                      <div>
                          <span class="label">Worked Days</span>
                          <span class="value">{{ worked_days }}</span>
                      </div>
                      <div>
                          <span class="label">Loss of Pay</span>
                          <span class="value">{{ loss_of_pay_days }}</span>
                      </div>
                  </div>
                  <div class="aply-lv-btn">
                      <a href="{% url 'manager_apply_leave' %}" class="apply-btn">Apply New Leave</a>
                  </div>
              </div>
          </div>
      </div>

      <!-- Leave Details Chart Card -->
      <div class="col-lg-4 col-md-6 lv-chrt-col">
          <div class="widget-box leave-card-widget">
              <div class="widget-title">
                  <h4>Leave Details</h4>
              </div>
              <div id="leaveChart"></div>
          </div>
      </div>

      <!-- Project Table -->
      <div class="widget-box mt-4 table-wdgt">
          <div class="widget-title">
              <h4>Assigned Projects</h4>
          </div>
          <table class="prjtc-table">
              <thead>
                  <tr>
                      <th>Project</th>
                      <th>Team</th>
                      <th>Leader</th>
                      <th>Priority</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                  {% for work in assigned_projects %}
                  <tr>
                      <td>
                          <a href="{% url 'project-summary-view' work.id %}">
                              {{ work.name }}
                          </a>
                      </td>
                      <td>
                        <div class="avatars" style="width: max-content; margin: auto;">
                            {% for team in work.teams.all %}  <!-- Loop through teams related to the project -->
                                {% for member in team.employees.all %}  <!-- Loop through employees in each team -->
                                    <img src="{% static 'assets/images/user-pro.webp' %}" 
                                        alt="{{ member.user.username }}" />
                                {% endfor %}
                            {% endfor %}
                            <span>+{{ work.teams.first.employees.count }}</span> 
                        </div>
                    </td>
                    <td>
                        {{ work.teams.first.manager.user.username }} <!-- Fetching the first team’s manager -->
                    </td>
                    
                      <td>
                          <span
                              class="priority {% if work.category == 'ANCHORAGE' %}high{% else %}medium{% endif %}">
                              {% if work.team.project.category == 'ANCHORAGE' %}
                              High
                              {% else %}
                              Medium
                              {% endif %}
                          </span>
                      </td>

                      <td>
                          <span class="status Assign">{{ work.get_status_display }}</span>
                      </td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td colspan="5" style="text-align: center;">No projects assigned</td>
                  </tr>
                  {% endfor %}
              </tbody>

          </table>
      </div>
  </div>
</div>


<script>
  function updateCurrentTime() {
      let now = new Date();
      let options = {
          hour: '2-digit', minute: '2-digit', second: '2-digit',
          day: '2-digit', month: 'short', year: 'numeric'
      };
      document.querySelector('.date').innerText = now.toLocaleString('en-US', options);
  }

  // Update the time every second
  setInterval(updateCurrentTime, 1000);
  updateCurrentTime();
</script>

{% endblock %}
