{% extends 'Manager/managerbase.html' %}
{% load static %}

{% block content %}

<div class="emply-list-wraper">

    <div class="container mt-3">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
    </div>
    
    <div class="pg-title">
        <h1>Leave Records</h1>
    </div>
    <!-- Leave Table with Search and Action Controls -->
    <div class="widget-box table-wdgt">
        <table id="leaveTable">
            <thead>
                <tr style="border-bottom: 1px solid #ccc">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <div class="add-new-emply">
                            <div class="table-searchbar">
                                <div class="sidebar-search">
                                    <form method="get" action="">
                                        <div class="input-group">
                                            <input type="text" name="search" class="form-control search-menu"
                                                value="{{ search_query }}" placeholder="Search by Employee Name" />
                                            <div class="input-group-append">
                                                <button class="srh-btn" type="submit" class="btn btn-primary">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>                            
                        </div>
                    </th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Leave Type</th>
                    <th>From</th>
                    <th>To</th>
                    <th>No. of Days</th>
                    <th>Reason</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for leave in leave_records %}
                <tr>
                    <td>{{ leave.user.get_full_name }}</td>
                    {% if leave.leave_type == 'SICK LEAVE' or leave.leave_type == 'ANNUAL LEAVE' %}
                    <td>
                        <span class="status 
                            {% if leave.leave_type == 'SICK LEAVE' %}sick-leave
                            {% elif leave.leave_type == 'ANNUAL LEAVE' %}annual-leave{% endif %}">
                            {{ leave.get_leave_type_display }}
                        </span>
                    </td>
                    {% endif %}
                    <td>{{ leave.from_date|date:"d/M/Y" }}</td>
                    <td>{{ leave.to_date|date:"d/M/Y" }}</td>
                    <td>{{ leave.no_of_days }}</td>
                    <td>{{ leave.reason }}</td>
                    <td>
                        <span class="status 
                            {% if leave.approval_status == 'APPROVED' %}completed
                            {% elif leave.approval_status == 'PENDING' %}pending
                            {% else %}cancelled{% endif %}">
                            {{ leave.get_approval_status_display }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Pagination -->
    <div class="pagination" id="pagination">
    {% if leave_records.has_previous %}
        <a href="?search={{ search_query }}&page={{ leave_records.previous_page_number }}">
            <button>&laquo; Prev</button>
        </a>
    {% endif %}

    {% with current=leave_records.number %}
        {% for num in leave_records.paginator.page_range %}
            {% if num >= current|add:"-1" and num <= current|add:"1" %}
                {% if num == current %}
                    <button class="active">{{ num }}</button>
                {% else %}
                    <a href="?search={{ search_query }}&page={{ num }}">
                        <button>{{ num }}</button>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endwith %}

    {% if leave_records.has_next %}
        <a href="?search={{ search_query }}&page={{ leave_records.next_page_number }}">
            <button>Next &raquo;</button>
        </a>
    {% endif %}
</div>

</div>

{% endblock %}
