{% extends 'Manager/managerbase.html' %} {% load custom_filters %} {% load static %} {% block content %}


<div class="emply-list-wraper">
  <div class="pg-title">
    <h1>{{ project_data.project_name }}</h1>
  </div>

  <section class="prjct-dtls-top">
    <div class="row">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-12">
            <div class="pjct-info-dtls-box">
              <div class="widget-box">
                <div class="pjct-info-item">
                  <h6>Cost:</h6>
                  <span class="cost">${{ project_data.invoice_amount }}</span>
                </div>
                <div class="pjct-info-item">
                  <h6>Created:</h6>
                  <span class="created">{{ project_data.project_create |date:"d-m-Y"  }}</span>
                </div>
                <div class="pjct-info-item">
                  <h6>Deadline:</h6>
                  <span class="deadline">{{ project_data.deadline_date |date:"d-m-Y"}}</span>
                </div>
                <div class="pjct-info-item">
                  <h6>Priority:</h6>
                  {% if project_data.category == 'ANCHORAGE' %}
                    <span class="priority high">High</span>
                  {% else %}
                    <span class="priority medium">Medium</span>
                  {% endif %}
                </div>                
                <div class="pjct-info-item">
                  <h6>Status</h6>
                  <span class="status">{{ project_data.status }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="widget-box team">
              <div class="widget-title">
                <h4>Assigned Team</h4>
              </div>
              <div class="prjct-info-team">
                <div class="prjct-info-team-member">
                  <img src="{% static 'assets/images/user-pro.webp' %}" alt="{{ project_data.project_manager }}" />
                  <div class="prjct-info-team-member-info">
                    <h4>{{ project_data.project_manager }}</h4>
                    <a href="mailto:info@thememakker.com"
                      >{{ project_data.project_manager.user.email}}</a
                    >
                    <p>Project Manager</p>
                  </div>
                </div>
                <hr />
                {% for engineer in project_data.engineers %}
                <div class="prjct-info-team-member">
                  <img
                    class="small"
                    src="{% static 'assets/images/user-pro.webp' %}"
                    alt="Isabella"
                  />
                  <div class="prjct-info-team-member-info">
                    <h6>{{ engineer }}</h6>
                    <p>Team Member
                    </p>
                    <!-- <p class="prjct-info-team-time">15 Min ago</p> -->
                  </div>
                  <div class="prjct-info-status green"></div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="prjct-time-line-box">
          <div class="widget-box">
            <div class="widget-title">
              <h4>Projects Status</h4>
            </div>

            <div class="project-timeline">
              <div class="time-line-vertical"></div>
              
              {% for status in project_data.statuses %}
                <div class="timeline-item">
                  <div class="dot {% if status.status == 'ONGOING' %}Blue{% elif status.status == 'HOLD' %}Gray{% elif status.status == 'CANCELLED' %}Red{% elif status.status == 'COMPLETED' %}Green{% else %}Orange{% endif %}"></div>
                  <div class="content">
                    <h5>{{ status.get_status_display }}</h5>
                    <p>{{ status.employee.user.first_name }} updated status to "{{ status.get_status_display }}"</p>
                    <span>{{ status.last_updated|timesince }} ago</span>
                  </div>
                </div>
              {% empty %}
                <div class="timeline-item">
                  <div class="dot gray"></div>
                  <div class="content">
                    <h5>No Updates</h5>
                    <p>No status updates are available for this project.</p>
                    <span>—</span>
                  </div>
                </div>
              {% endfor %}
            </div>
            
            
            
          </div>
        </div>

        <div class="clnt-info-box">
          <div class="widget-box">
            <div class="widget-title">
              <h4>Client Info</h4>
            </div>
            <h6>Splendour Marine LLC</h6>
            <p>Port: <span>UAE</span></p>
            <p>Vessel: <span>Splendour Opal</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="widget-box table-wdgt">
    <table class="vertical-table">
      <tbody>
        <tr>
          <td>Project Name</td>
          <td>{{ project_data.project_name }}</td>
        </tr>
        <tr>
          <td>Code</td>
          <td>{{ project_data.code }}</td>
        </tr>
        <tr>
          <td>category</td>
          <td>{{ project_data.category }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{ project_data.status }}</td>
        </tr>
        <tr>
          <td>Invoice Amount</td>
          <td>{{ project_data.invoice_amount }}</td>
        </tr>
        <tr>
          <td>Purchase and Expenses</td>
          <td>{{ project_data.purchase_and_expenses }}</td>
        </tr>
        <tr>
          <td>Total Work days</td>
          <td>{{ project_data.total_work_days }}</td>
        </tr>
        {% for engineer, hours in project_data.engineer_project_hours.items %}
        <tr>
          <td>Total Project Hours</td>
          <td>{{ hours|format_hours }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td>Engineers</td>
          <td>{{ project_data.engineers|join:", " }}</td>
        </tr>
        <tr>
          <td>Mandays</td>
          <td>{{project_data.total_engineer_salary}}/hr</td>
        </tr>
        <tr>
          <td>Total Expenses</td>
          <td>{{ project_data.total_expenses|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>Profit</td>
          <td>{{ project_data.profit|floatformat:2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
