{% extends 'Manager/managerbase.html' %} {% load custom_filters %} {% load static %} {% block content %}


<div class="emply-list-wraper">
  <div class="pg-title">
    <h1>{{ project_data.project_name }}</h1>
  </div>

  <section class="prjct-dtls-top">
    <div class="row">
      <div class="col-lg-5">
        <div class="row">

          <div class="col-12">
            <div class="pjct-info-dtls-box">
              <div class="widget-box">
                <div class="pjct-info-item">
                  <h6>Client:</h6>
                  <span style="color: #1a1a1a"
                    ><b> Splendour Marine LLC</b></span
                  >
                </div>
                <div class="pjct-info-item">
                  <h6>Category:</h6>
                  <span style="color: #1a1a1a"
                    ><b>{{ project_data.category }}</b>
                  </span>
                </div>
                <div class="pjct-info-item">
                  <h6>Cost:</h6>
                  <span class="cost">${{ project_data.invoice_amount }}</span>
                </div>
                <div class="pjct-info-item">
                  <h6>Created:</h6>
                  <span class="created">{{ project_data.project_create |date:"d-m-Y"  }}</span>
                </div>
                <div class="pjct-info-item">
                  <h6>Deadline:</h6>
                  <span class="deadline">{{ project_data.deadline_date |date:"d-m-Y"}}</span>
                </div>
                <div class="pjct-info-item">
                  <h6>Priority:</h6>
                  {% if project_data.category == 'ANCHORAGE' %}
                    <span class="priority high">High</span>
                  {% else %}
                    <span class="priority medium">Medium</span>
                  {% endif %}
                </div>                
                <div class="pjct-info-item">
                  <h6>Status</h6>
                  <span class="status">{{ project_data.status }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="widget-box team">
              <div class="widget-title">
                <h4>Assigned Team</h4>
              </div>
              <div class="prjct-info-team">
                <div class="prjct-info-team-member">
                  <img src="{% static 'assets/images/user-pro.webp' %}" alt="{{ project_data.project_manager }}" />
                  <div class="prjct-info-team-member-info">
                    <h4>{{ project_data.project_manager }}</h4>
                    <a href="mailto:info@thememakker.com"
                      >{{ project_data.project_manager.user.email}}</a
                    >
                    <p>Project Manager</p>
                  </div>
                </div>
                <hr />
                {% for engineer in project_data.engineers %}
                <div class="prjct-info-team-member">
                  <img
                    class="small"
                    src="{% static 'assets/images/user-pro.webp' %}"
                    alt="Isabella"
                  />
                  <div class="prjct-info-team-member-info">
                    <h6>{{ engineer }}</h6>
                    <p>Team Member
                    </p>
                    <!-- <p class="prjct-info-team-time">15 Min ago</p> -->
                  </div>
                  <div class="prjct-info-status green"></div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-7">
        <div class="emp-pjct-status-box">
          <div class="widget-box">
            <div class="widget-title">
              <h4>Update Status</h4>
            </div>
            <form
              method="POST"
              action="{% url 'update_team_manager_status' project_id=project_data.project_id %}"
            >
              {% csrf_token %}
              <div class="prjct-status-updt-box">
                <select
                  id="status"
                  name="status"
                  onchange="toggleRemarkBox()"
                  required
                >
                  <option value="" disabled selected>Select Status</option>
                  <option value="ASSIGN">Assign</option>
                  <option value="ONGOING">Ongoing</option>
                  <option value="HOLD">On Hold</option>
                  <option value="CANCELLED">Cancelled</option>
                  <option value="COMPLETED">Completed</option>
                </select>
                <div class="button-row">
                  <button type="submit" class="btn">Update</button>
                </div>
              </div>
              <div id="remarkBox" class="remark-box" style="display: none">
                <textarea
                  id="remark"
                  name="remark"
                  rows="4"
                  placeholder="Enter note here"
                ></textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="prjct-time-line-box employee">
          <div class="widget-box">
            <div class="widget-title">
              <h4>Projects Status</h4>
            </div>

            <div class="project-timeline">
              <div class="time-line-vertical"></div>
              {% for log in project_data.logs %}
              <div class="timeline-item">
                <div
                  class="dot {% if log.status == 'ONGOING' %}Blue{% elif log.status == 'HOLD' %}Gray{% elif log.status == 'CANCELLED' %}Red{% elif log.status == 'COMPLETED' %}Green{% else %}Orange{% endif %}"
                ></div>
                <div class="content">
                  <h5>{{ log.status }}</h5>
                  <p>
                    {{ log.team_member_status.employee.user.first_name }}
                    changed status from "{{ log.previous_status}}" to "{{log.status }}"
                  </p>
                  {% if log.notes %}
                  <p>Note: {{ log.notes }}</p>
                  {% endif %}
                  <span>{{ log.changed_at|timesince }} ago</span>
                </div>
              </div>
              {% empty %}
              <div class="timeline-item">
                <div class="dot gray"></div>
                <div class="content">
                  <h5>No Updates</h5>
                  <p>No status updates are available for this project.</p>
                  <span>—</span>
                </div>
              </div>
              {% endfor %}
            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="widget-box table-wdgt">
    <table class="vertical-table">
      <tbody>
        <tr>
          <td>Project Name</td>
          <td>{{ project_data.project_name }}</td>
        </tr>
        <tr>
          <td>Code</td>
          <td>{{ project_data.code }}</td>
        </tr>
        <tr>
          <td>category</td>
          <td>{{ project_data.category }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{ project_data.status }}</td>
        </tr>
        <tr>
          <td>Invoice Amount</td>
          <td>{{ project_data.invoice_amount }}</td>
        </tr>
        <tr>
          <td>Purchase and Expenses</td>
          <td>{{ project_data.purchase_and_expenses }}</td>
        </tr>
        <tr>
          <td>Total Work days</td>
          <td>{{ project_data.total_work_days }}</td>
        </tr>
        {% for engineer, hours in project_data.engineer_project_hours.items %}
        <tr>
          <td>Total Project Hours</td>
          <td>{{ hours|format_hours }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td>Engineers</td>
          <td>{{ project_data.engineers|join:", " }}</td>
        </tr>
        <tr>
          <td>Mandays</td>
          <td>{{project_data.total_engineer_salary}}/hr</td>
        </tr>
        <tr>
          <td>Total Expenses</td>
          <td>{{ project_data.total_expenses|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>Profit</td>
          <td>{{ project_data.profit|floatformat:2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
