/*---------- Google Font ----------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bs-yellow: #e8c00b;
  --bs-blue: #3f6d95;
  --primary-font-color: #171829;
  --secondary-font-color: #838282;
  --primary-bg-color: #f2f5fa;
  --bs-red: #f44336;
  --bs-green: #4caf50;
  --bs-orange: #ff5200;
  --edit-icon: #6777ef;
  --secondary-bg: #3d6999;
  --dark-green: #155724;
  --dark-red: #e2362f;
}

body {
  font-size: 0.9rem;
  background-color: #f2f5fa;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}

th, td {
  min-width: 250px;
  max-width: 250px;
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/*--- Global Style ---*/
p {
  font-size: 14px;
  font-size: 400;
  color: var(--primary-font-color);
}

pre {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-size: 400;
  color: var(--primary-font-color);
}

h1 {
  font-size: 22px;
  font-weight: 500;
  color: var(--primary-font-color);
}

h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-font-color);
}

.prmry-btn {
  padding: 10px 65px;
  background-color: var(--bs-blue);
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.mt-20 {
  margin-top: 20px;
}

.widget-title {
  margin: 20px;
}

@media (max-width: 991px) {
  .create-btn {
    width: max-content;
    margin: auto;
  }
}

.bg-warning {
  background-color: var(--bs-blue) !important;
  padding: 10px;
}

@media (max-width: 767px) {
  .mt-5 {
    margin-top: -1rem !important;
  }
}

/*---------- Header ----------*/
header {
  width: 100%;
  height: 77px;
  padding: 20px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.07);
  
  position: fixed;
  z-index: 998;
}
.mb-top-hdr{
  display: flex;
  justify-content: end;
  align-items: center;
}
.sidebar-search.mb{width: 100%;margin-top: 15px;}
.sidebar-search.mb input{box-shadow: none !important;}
.sidebar-search.mb button{background-color:#3f6d95 !important;color: #fff !important;}
.hdr-user button {
  background-color: transparent !important;
  border: none !important;
}

.hdr-user i {
  padding-right: 10px;
  font-size: 25px;
  color: var(--bs-blue);
}

.hdr-user span {
  font-weight: 500;
}

/* Smooth slide-up animation */
@keyframes slideUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown-menu {
  transform: translateY(30px);
  /* Start slightly below */
  opacity: 0;
  /* Hidden initially */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  will-change: transform, opacity;
}

.dropdown-menu.show {
  transform: translateY(50px);
  /* Move to final position */
  opacity: 1;
  /* Fully visible */
}

header .dropdown-menu {
  width: 100px !important;
  min-width: unset !important;
}

@media (max-width: 991px) {
  header {
    height: unset !important;
    padding: 20px;
  }
   .sidebar-search{display:none;}
   .sidebar-search.mb{display:block !important;}
}
@media(min-width:992px){
  .sidebar-search.mb{display:none;}
}

/*---------- End Header ----------*/
/*---------- Side Bar ----------*/
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
  background-color: #fff;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}

/*----------------show sidebar button----------------*/
#show-sidebar {
  position: absolute;
  right: -35px;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
  z-index: 999;
}

/* .page-wrapper.toggled #show-sidebar {
    left:288px;
  } */
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 300px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-brand img {
  width: 80%;
}

.sidebar-wrapper .sidebar-brand>a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search>div {
  padding: 10px 20px;
}

.sidebar-search .input-group-text {
  padding: 0.66rem 0.75rem !important;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer>a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer>a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content>div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525965;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background: #31353d;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
  color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
  color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
  border-right: none;
}

@media (min-width: 992px) {
  #close-sidebar {
    display: none;
  }
}

/*---------- End Side Bar ----------*/

/* Page Wrapper */
@media (max-width: 992px) {
  .page-wrapper {
    padding: 150px 15px 30px 15px;
  }
}

@media (min-width: 992px) {
  .page-wrapper {
    padding: 127px 20px 50px 20px;
  }
}

@media (min-width: 992px) {
  .sidebar-wrapper {
    width: 20%;
  }

  .sidebar-wrapper.sidebar.collapsed {
    width: 70px;
  }

  .sidebar-wrapper.sidebar.collapsed span {
    display: none;
  }

  .sidebar-wrapper.sidebar.collapsed .sidebar-menu .sidebar-dropdown>a::after {
    display: none;
  }

  .sidebar-wrapper.sidebar.collapsed .search-menu {
    display: none;
  }

  .page-wrapper {
    margin-left: 20%;
    transition: margin-left 0.3s;
  }

  .page-wrapper.collapsed {
    margin-left: 70px;
  }

  .sidebar-wrapper.sidebar.collapsed .sidebar-search{
    display: none;

  }
}

@media (max-width: 992px) {
  .sidebar-wrapper.sidebar.collapsed {
    width: 0px;
  }
}

#close-sidebar {
  display: none;
}

/* Page Wrapper */

/* Page title */
.pg-title {
  margin-bottom: 30px;
}

/* Page title */

/*================ Dashboard Page ================*/
/* Project Table */
.prjtc-table {
  width: 100%;
  border-collapse: collapse;
}

.prjtc-table th,
.prjtc-table td {
  text-align: center;
  padding: 10px;
}

.prjtc-table thead th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.prjtc-table tbody tr {
  border-bottom: 1px solid #ccc;
}

.prjtc-table tbody tr:hover {
  background-color: #f0f8ff;
}

.prjtc-table .avatars {
  display: flex;
  align-items: center;
}

.prjtc-table .avatars img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: -10px;
  border: 2px solid #fff;
}

.prjtc-table .avatars span {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
}

.prjtc-table .priority {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.prjtc-table .priority.low {
  background-color: #d4edda;
  color: #155724;
}

.prjtc-table .priority.medium {
  background-color: #fff3cd;
  color: #856404;
}

.prjtc-table .priority.high {
  background-color: #f8d7da;
  color: #721c24;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.status.pending {
  background-color: #cce5ff;
  color: #004085;
}

.status.in-progress {
  background-color: #d1ecf1;
  color: #0c5460;
}

.status.Assign {
  background-color: #d1ecf1;
  color: #23a4bb;
}

.status.completed {
  background-color: #d4edda;
  color: #155724;
}

.status.hold {
  background-color: #fec600;
  color: var(--primary-font-color);
}

.status.ongoing {
  background-color: #ffc299;
  color: #8b4f00;
}

.status.cancelled {
  background-color: #f8d7da;
  color: #721c24;
}
.status.present {
  background-color: #c3e6cb;
  color: #155724;
}

.status.leave {
  background-color: #ffc107;
  /* Yellow */
  color: black;
}

.status.work-from-home {
  background-color: #b3e0ff;
  color: #004085;
}

.status.sick-leave {
  background-color: #d4c4fc;
  color: #4b0082;
}

.status.annual-leave {
  background-color: #ffeb99;
  color: #856404;
}

.status.casual-leave {
  background-color: #ffc299;
  color: #a45c00;
}

.status.absent {
  background-color: #f8d7da;
  /* Light Red */
  color: black;
}


.prjtc-table button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.prjtc-table button:hover {
  opacity: 0.7;
}

/* End Project Table */
.status-wdgt {
  width: 100%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  min-height: 120px !important;
}

.status-wdgt:hover {
  margin-top: -6px;
  transition: all 0.3 s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-bg-green {
  background: linear-gradient(135deg, #23bdb8 0, #65a986) !important;
}

.card-bg-blue {
  background: linear-gradient(135deg, #289cf5, #4f8bb7) !important;
}

.card-bg-violet {
  background: linear-gradient(135deg, #8e4cf1 0, #c554bc) !important;
}

.card-bg-orange {
  background: linear-gradient(135deg, #f48665 0, #d68e41) !important;
}

.status-wdgt h6 {
  font-size: 24px;
}

.status-wdgt p {
  margin: 0;
  color: #fff;
}

.wdgt-bg-icons {
  position: absolute;
  right: -10px;
  top: 33px;
}

.wdgt-bg-icons i {
  font-size: 80px;
  color: #000;
  text-shadow: 3px 7px rgba(0, 0, 0, 0.3);
  opacity: 0.1;
}

@media (max-width: 767px) {

  .dashbrd-wraper .col-md-4,
  .dashbrd-wraper .col-md-6 {
    margin-top: 20px;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .status-card-row .col-md-6 {
    margin-bottom: 20px !important;
  }
}

/*================ End Dashboard Page ================*/
/*================ Employs List Page ================*/
.widget-box table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.widget-box th,
.widget-box td {
  padding: 25px 10px;
  text-align: left;
}

.widget-box th select{
  float: right;
}

.widget-box td a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

.widget-box td a:hover {
  color: var(--bs-blue);
}

.widget-box td {
  color: var(--secondary-font-color);
}

.dwnld-dropdown {
  position: relative;
  display: inline-block;
}

/* The dwnld-dropdown menu styling */
.dwnld-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;
  right: -2px;
  top: 35px;
}

/* dwnld-dropdown items styling */
.dwnld-dropdown-content a {
  color: var(--primary-font-color);
  text-decoration: none;
  padding: 8px 12px;
  display: block;
  font-size: 400;
  font-size: 14p;
}

.dwnld-dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dwnld-dropdown menu on hover */
.dwnld-dropdown:hover .dwnld-dropdown-content {
  display: block;
}

.widget-box th {
  background-color: #f8f9fa;
  font-weight: 500;
  color: var(--primary-font-color);
  font-size: 15px;
}

.widget-box tr:nth-child(even) {
  background-color: #f9f9f9;
}

.widget-box tr:hover {
  background-color: #f1f1f1;
}

.pagination{
  display: flex;
  justify-content: flex-end !important;
  margin: 20px 0;
  padding-bottom: 50px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  background-color: #f8f9fa;
  cursor: pointer;
  font-size: 14px;
}

.pagination button.active {
  background-color: var(--bs-blue) !important;
  color: #fff;
}

.pagination button:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* .emply-list-wraper .pg-title{display: flex;justify-content: space-between;} */
.add-new-emply {
  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: center;
}

.add-new-emply .badge {
  color: #fff;
}

.add-new-emply a {
  text-decoration: none;
  color: var(--primary-font-color);
  font-weight: 600;
}

.fa-envelope {
  color: var(--bs-red);
}

.fa-edit {
  color: var(--edit-icon);
}

.fa-trash-alt {
  color: var(--bs-orange);
}

.list-action-col a {
  padding: 7px 9px;
}

.list-action-col a:hover {
  border-radius: 50%;
  background-color: rgb(212, 222, 241);
}

/*================ End Employs List Page ================*/
.widget-box {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  padding: 15px;
}

.table-wdgt {
  overflow-x: scroll;
}

.mangr-prof-pro-tbl{
  height: 565px;
}

/*================ Add Employee Page ================*/
.widget-box.add-emply-pg {
  padding: 50px 15px;
}

.create-emply-frm {
  width: 70%;
  padding: 50px 30px;
  margin: auto;
  background-color: var(--primary-bg-color);
  border-radius: 8px;
}

.create-emply-frm .row {
  row-gap: 25px;
}

.add-frm input {
  width: 100%;
  padding: 1rem;
  font-size: 0.875rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary-font-color);
}

.add-frm-check label {
  position: unset !important;
}

@media (max-width: 991px) {
  .create-emply-frm {
    width: 100%;
  }
}

.add-frm label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.875rem;
  color: var(--secondary-font-color);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Ripple Effect Input */
.ripple-input {
  position: relative;
  width: 100%;
  border: 1px solid var(--secondary-font-color);
  border-radius: 8px;
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: radial-gradient(circle, #60a5fa 10%, transparent 70%);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  opacity: 0;
}

.ripple-input:focus-within .ripple-effect {
  width: 300%;
  height: 300%;
  opacity: 0.1;
}

/* Focus & Valid States for All Inputs */
.add-frm input:focus~label,
.add-frm input:valid~label {
  transform: translateY(-130%);
  font-size: 0.8rem;
  color: #60a5fa;
}

/*================ End Add Employee List Page ================*/

/*================ Attendance Page ================*/

.table-searchbar .input-group {
  flex-wrap: nowrap;
}

.table-searchbar .input-group input {
  width: 180px;
}

/*================ End Attendance ================*/

/*================ Login Page ================*/
.login-wrapper {
  padding-top: 150px;
}

.login-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #2c3e50;
}

.login-container p {
  margin-bottom: 2rem;
  font-size: 0.95rem;
  color: #7f8c8d;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 1.5rem;
  padding: 0.9rem 1.2rem;
  border: 1px solid #dcdfe3;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
}

.login-container input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.login-container button {
  background-color: var(--bs-blue);
  color: white;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #2c80b4;
}

.login-container a {
  display: block;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-container a:hover {
  color: #2c3e50;
}

@media (max-width: 767px) {
  .login-container {
    width: 100%;
  }
}

/*================ End Loging Page ================*/

/*================ Empolyee Profile Page ================*/
.emp-info-wrapper {
  border-radius: 10px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.07);
  padding: 50px 0;
}

.emp-info-hdr {
  text-align: center;
}

.emp-info-hdr span {
  padding: 4px 6px;
  background: rgba(33, 37, 41, 0.1);
  color: var(--primary-font-color);
  border-radius: 6px;
  margin: 0 8px;
  font-size: 12px;
}

.emp-prfl-img {
  width: 60px;
  height: 60px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.emp-prfl-img img {
  width: 100%;
}

.emp-info-hdr h5 {
  margin-bottom: 20px;
}

.emp-details {
  margin-top: 25px;
  font-size: 14px;
  padding: 15px;
}

.emp-details span {
  color: var(--secondary-font-color);
}

.emp-details i {
  padding-right: 5px;
}

.emp-details .fa-trash-alt,
.emp-details .fa-edit {
  color: #fff !important;
  font-size: 14px;
}

.prf-upld-container {
  margin-bottom: 25px;
  background-color: #f8f9fa;
}

.prf-upld-container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  /* border: 2px solid #ddd; */
}

@media (max-width: 767px) {
  .prf-upld-container img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 800px) {
  .modal-dialog {
    max-width: 720px;
  }
}

.emp-basic-info span {
  color: var(--secondary-font-color);
  font-size: 14px;
}

.emp-basic-info i {
  padding-right: 5px;
}

.emp-basic-info .fa-envelope {
  color: var(--secondary-font-color) !important;
}

.emp-status-col .status-wdgt h5,
.emp-status-col .status-wdgt h6,
.emp-status-col .status-wdgt p {
  color: var(--primary-font-color);
}

.emp-status-col .status-wdgt h5 {
  font-size: 18px;
}

.emp-status-col .status-wdgt .wdgt-bg-icons {
  top: 10px;
}

@media (max-width: 767px) {
  .emp-status-col .row {
    margin-top: 10px;
  }

  .emp-status-col .col-lg-4 {
    margin: 10px 0;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .emp-status-col .row {
    margin-top: 20px;
  }
}

/*================ End Empolyee Profile Page ================*/
/*================ Project Details Table ================*/
.vertical-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.vertical-table th,
.vertical-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.vertical-table tbody tr {
  display: table-row;
}

.vertical-table tbody tr td:first-child {
  font-weight: bold;
  background-color: #f9f9f9;
  width: 25%;
}

.vertical-table tbody tr td:last-child {
  text-align: center;
  width: 75%;
}

.vertical-table .table-title {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.prjct-dtls-top {
  margin-bottom: 40px;
}

/* The actual timeline (the vertical ruler) */
.project-time-line {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.project-time-line::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.project-time-line .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.project-time-line .container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.project-time-line-left {
  left: 0;
}

.project-timeline .timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.project-timeline .timeline-item .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 15px;
  position: relative;
  z-index: 16;
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Smooth hover effect */
}

.project-timeline .timeline-item .dot.Orange {
  background-color: #FF9800;
}

.project-timeline .timeline-item .dot.Blue {
  background-color: #2196F3;
}

.project-timeline .timeline-item .dot.Yellow {
  background-color: #FFC107;
}

.project-timeline .timeline-item .dot.Red {
  background-color: #fa0606;
}

.project-timeline .timeline-item .dot.Green {
  background-color: #4CAF50;
}

.project-timeline .timeline-item .dot.Gray {
  background-color: #9e9e9e;
}


.project-timeline .timeline-item .content {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.project-timeline .timeline-item .content h5 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}

.project-timeline .timeline-item .content span {
  display: block;
  font-size: 10px;
  color: #666;
}

.project-timeline .content p {
  font-size: 12px;
  color: var(--secondary-font-color);
}

.project-timeline {
  position: relative;
}

.time-line-vertical {
  height: 400px;
  width: 2px;
  background-color: #ddd;
  position: absolute;
  left: 18px;
  top: 0;
}

.project-timeline .timeline-item:hover .dot {
  transform: scale(1.8);
  /* Zoom the dot on hover */
  box-shadow: 0 0 0 4px rgba(179, 213, 235, 0.3);
}

.project-timeline .timeline-item:hover .time-line-vertical {
  left: 5px;
}

.prjct-time-line-box {
  margin-bottom: 20px;
}

.prjct-time-line-box .project-timeline {
  height: 330px;
  overflow-y: scroll !important;
  padding-left: 15px;
}


@media(min-width:992px) {
  .prjct-time-line-box.admin .project-timeline {
    height: 640px !important;
  }
}

.prjct-time-line-box .widget-title {
  margin: 0;
  margin-bottom: 25px;
}

.prjct-dtls-top .widget-title {
  margin: 0;
}

.prjct-dtls-top .col-12 {
  margin-bottom: 20px;
}

.prjct-dtls-top .widget-box.team ul {
  padding-left: 0;
  list-style: none;
}

.clnt-info-box span {
  color: var(--secondary-font-color);
}

.clnt-info-box h6 {
  margin-top: 25px;
}

.clnt-info-box p {
  margin-bottom: 10px;
}

.pjct-info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.pjct-info-item h6 {
  font-size: 15px;
  font-weight: 400;
  color: var(--secondary-font-color);
}

.pjct-info-item span {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
}

.pjct-info-item .cost {
  background-color: #2eacb3;
}

.pjct-info-item .created {
  background-color: rgb(25, 135, 84);
}

.pjct-info-item .deadline {
  background-color: rgb(235, 65, 65);
}

.pjct-info-item .priority.high {
  background-color: var(--dark-red);
}

.pjct-info-item .priority.medium {
  background-color: var(--bs-orange);
}

#employeeTable td .priority.high {
  background-color: var(--dark-red);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#employeeTable td .priority.medium {
  background-color: var(--bs-yellow);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.pjct-info-item .status {
  background-color: rgb(13, 202, 240);
}

.prjct-info-team {
  height: 262px;
  overflow-y: scroll;
  padding-right: 15px;
}

.prjct-info-team-member {
  margin-top: 30px;
}

.prjct-info-team-header {
  margin-bottom: 20px;
}

.prjct-info-team-header h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.prjct-info-team-member {
  display: flex;
  margin-bottom: 16px;
}

.prjct-info-team-member img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.prjct-info-team-member .small {
  width: 35px;
  height: 35px;
}

.prjct-info-team-member-info {
  flex: 1;
}

.prjct-info-team-member-info h4 {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.prjct-info-team-member-info h6 {
  font-size: 15px;
  color: #555;
  font-weight: 400;
}

.prjct-info-team-member-info p,
.prjct-info-team-member-info a {
  margin: 4px 0 0;
  font-size: 14px;
  color: #777;
  text-decoration: none;
  font-weight: 400;
}

.prjct-info-team-member-info a:hover {
  color: var(--secondary-bg);
}

.prjct-info-team-time {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}

.prjct-info-team-member .prjct-info-status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 10px;
}

.prjct-info-status.green {
  background-color: #4caf50;
}

.prjct-info-status.gray {
  background-color: #ccc;
}

/*================ End Project Details Table ================*/

/*================ Employee Profile page ================*/
table .fa-check {
  color: var(--dark-green);
}

table .fa-times {
  color: var(--dark-red);
}

.reject-resn-modal .modal-dialog {
  padding: 20px;
}

.reject-resn-modal .modal-dialog input {
  width: 100%;
  height: 50px;
}

.reject-resn-modal .modal-footer button {
  background-color: var(--secondary-bg);
  color: #fff;
  border: none;
  padding: 10px 25px;
}

.reject-resn-modal .modal-dialog {
  pointer-events: auto;
}

@media (min-width: 800px) {
  .reject-resn-modal .modal-dialog {
    max-width: 500px !important;
  }
}

/*================ End Employee Profile page ================*/

/*================ All Projects Page ================*/
.prjct-list-wraper .nav-pills .nav-link {
  color: var(--primary-font-color);
}

.prjct-list-wraper .nav-pills .nav-link.active {
  background-color: var(--secondary-bg) !important;
  color: #fff !important;
}

.assgn-to-emp-frm select {
  color: var(--secondary-font-color);
  width: 100%;
  height: 50px;
}

.assgn-to-emp-frm input {
  color: var(--secondary-font-color);
  width: 100%;
  height: 50px;
  outline: none !important;
  border-radius: 5px;
  border: none;
  border: 1px solid #ccc;
  background-color: #fff !important;
}

.assgn-to-emp-frm {
  margin-top: 30px;
}

/*================ End All Projects Page  ================*/

/* MESSAGE */

.messages {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.messages li {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 10px;
}

.messages .success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.messages .error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

/*================ Punch In Page  ================*/

.punch-hdr {
  background-color: #3d6999;

  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media(max-width:767px) {
  .punch-hdr img {
    width: 100%;
  }
}

.punch-hdr p {
  font-size: 0.875rem;
  margin: 4px 0 0;
}

.punch-in-wrapper {
  max-width: 800px;
  margin: 20px auto;
  padding: 16px;
}

.punch-in-wrapper section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 30px;
}

.punch-in-wrapper section h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.punch-in-wrapper select {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.punch-in-wrapper button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.punch-in-wrapper button:disabled {
  background-color: #d1d5db;
  cursor: not-allowed;
}

.punch-in-wrapper .bg-blue-500 {
  background-color: #2563eb;
  color: white;
}

.punch-in-wrapper .bg-red-500 {
  background-color: #ef4444;
  color: white;
}

.punch-in-wrapper .text-blue-500 {
  color: #2563eb;
}

.punch-in-wrapper .text-red-500 {
  color: #ef4444;
}

.punch-in-wrapper .text-green-500 {
  color: #22c55e;
}

.punch-in-wrapper .font-bold {
  font-weight: bold;
}

.punch-in-wrapper .hidden {
  display: none;
}

.punch-in-wrapper .mt-4 {
  margin-top: 16px;
}

.punch-in-wrapper .text-gray-600 {
  color: #4b5563;
}

.punch-in-wrapper select {
  font-size: 14px;
  font-weight: 400;
}

/*================ End Punch In Page  ================*/

/*================ Employee Dashboard  ================*/
.widget-box progress {
  width: 100%;
}


/*--- Attendance Card ----*/
.attendance-card {
  background: #fff;
  border: 1px solid var(--bs-orange);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.attendance-card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.attendance-card .date {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.progress-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #333;
}

.attendance-card .info {
  margin: 15px 0;
  font-size: 14px;
  color: #333;
}

.attendance-card .info span {
  font-weight: bold;
}

.attendance-card a {
  background: #3d6999;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 75px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.attendance-card a:hover {
  background: #154272;
  opacity: 1;
}

.attendance-card .info {
  margin-top: 0;
}

.attendance-card .info img {
  width: 20px;
}

/*--- Leave Card ----*/
.leave-card{
  border: 1px solid var(--bs-orange) !important;

  border-radius: 10px !important;
  padding: 30px 20px !important;
}


@media(min-width:992px) and (max-width:1365px){
.leave-card{  height: 350px !important;}
.leave-card-widget {
  min-height: 370px;
}
}

@media(min-width:1366px){
.leave-card{  height: 320px !important;}
.leave-card-widget {
  min-height: 351px;
}
}

@media(min-width:1531px){
#leaveChart{width: 70% !important; }
}


.leave-card-widget .widget-title {
  margin: 0 0 25px 0;
}

.leave-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.leave-card .year-btn {
  float: right;
  background: #f1f1f1;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  width: 90px;
}

.leave-details {
  margin: 10px 0 20px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 10px;
  font-size: 14px;
  row-gap: 20px;
}

.leave-details div {
  display: flex;
  justify-content: space-between;
}

.leave-details .label {
  color: #6c757d;
}

.leave-details .value {
  font-weight: bold;
}

.apply-btn {
  display: block;
  text-align: center;
  width: 100%;
  background: var(--secondary-bg);
  color: #fff;
  padding: 10px 0;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

.leave-card a:hover {
  color: #fff !important;
  background-color: #154272;
}

.aply-lv-btn {
  margin-top: 35px;
}

.rg-30 {
  row-gap: 30px;
}

.leave-card .widget-title{
  display: flex;
  justify-content: space-between;
}

@media(max-width:767px) {
  .sparkboxes {
    margin-right: 0 !important;
  }
}

@media(min-width:768px) and (max-width:991px) {
  .lv-chrt-col {
    margin-top: 20px;
  }
}

.prjct-time-line-box.employee {
  margin-bottom: 0;
  margin-top: 20px;
}

.remark-box {
  display: none;
  margin-top: 10px;
}



/* Employee Project Dtails Page  */
.emp-pjct-status-box form {
  max-width: 75%;
  background: #ffffff;
  margin-top: 25px;
  border-radius: 10px;
}

.emp-pjct-status-box label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.emp-pjct-status-box select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;

}

.emp-pjct-status-box .remark-box {
  display: none;
  margin-bottom: 15px;
}

.emp-pjct-status-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
}

.emp-pjct-status-box .button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.emp-pjct-status-box .btn {
  padding: 10px 15px;
  background-color: var(--secondary-bg);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.allattachments .btn{
  padding: 10px 15px;
  background-color: var(--secondary-bg);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.allattachments .btn:hover {
  background-color: #0056b3;
}
.emp-pjct-status-box .btn:hover {
  background-color: #0056b3;
}

.prjct-status-updt-box {
  display: flex !important;
  gap: 20px;
}

.prjct-time-line-box.employee .project-timeline {
  height: 266px !important;
}


/*--- Apply Leave Page ---*/

.apply-leave-frm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.apply-leave-frm .form-group {
  margin-bottom: 15px;
}

.apply-leave-frm .form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 15px;
}

.apply-leave-frm .form-group input,
.apply-leave-frm .form-group select,
.apply-leave-frm .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins", serif !important;
}

.apply-leave-frm .form-group textarea {
  resize: none;
}

.apply-leave-frm .form-actions {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.apply-leave-frm .form-actions button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-leave-frm .form-actions .submit-btn {
  background-color: var(--secondary-bg);
  color: #fff;
}

.apply-leave-frm .form-actions button:hover {
  opacity: 0.9;
}

/*================ End Employee Dashboard  ================*/

/*================ Add Team Page  ================*/
.add-tm-frm-wrapper .card-header {
  background-color: var(--secondary-bg) !important;
}

.add-tm-frm-wrapper .form-control {
  font-size: 14px !important;
  box-shadow: none !important;
}

.add-tm-frm-wrapper .form-select {
  font-size: 14px !important;
  box-shadow: none !important;
}

.add-tm-frm-wrapper button {
  background-color: var(--secondary-bg) !important;
}

.add-tm-frm-wrapper .form-text {
  font-size: 12px;
}

@media (min-width: 1200px) {
  .add-tm-frm-wrapper .container {
    width: 50% !important;
  }
}

@media (max-width: 991px) {
  .add-tm-frm-wrapper .container {
    width: 100% !important;
    padding: 0;
  }
}

/*================ End Add Team Page  ================*/

/*---------- Date Filter -----------*/

.date-filter {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date-filter label {
  font-weight: bold;
  color: #333;
}

.date-filter input {
  padding: 10px;
  border: 2px solid var(--secondary-bg);
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.date-filter input:focus {
  border-color: var(--secondary-bg);
  box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
}

@media (max-width: 767px) {
  .date-filter {
    flex-direction: column;
  }

  .date-filter input {
    padding: 5px;
  }
}

/*---------- End Date Filter -----------*/

/*---------- Leave Details Year Filter ----------*/
.year-dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.year-select {
  appearance: none;
  background-color: #f1f1f1;
  color: #1a1a1a;
  border: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.year-select:focus {
  outline: none;
}

/*---------- End Leave Details Year Filter ----------*/

/*================ Leave Page  ================*/
.leave-tab-wrapper {
  margin-bottom: 25px;
}

.leave-tab-wrapper a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--primary-font-color);
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

/* Change background color when active */
.leave-tab-wrapper a.active,
.leave-tab-wrapper a:hover {
  background-color: var(--secondary-bg);
  color: #fff;
}

@media (max-width: 767px) {
  .leave-tab-wrapper a {
    padding: 5px 10px;
  }
}

/*================ End Leave Page  ================*/

/*================ Admin Dashboard  ================*/
.prjct-overview-card-top-sec {
  display: flex;
  justify-content: space-between;
}

.prjct-overview-card-top-sec span {
  font-weight: 600;
}

.prjct-overview-progress {
  background: #e1dbf0;
  border: solid 1px #e1dbf0;
  border-radius: 10px;
  height: 13px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}

/* Progress Color */
.prjct-overview-progress .progress-bar {
  background-color: #00e396;
  height: inherit;
  border-radius: 10px;
  transition: width 1s ease-in-out;
  /* Smooth Progress Transition */
}

/* Dynamically Updated Width */
.prjct-overview-progress .progress-bar-width {
  height: inherit;
}

/* Striped Animation */
.prjct-overview-progress .progress-bar-anim {
  animation: progress 3s linear infinite;
  background: linear-gradient(-45deg,
      rgba(255, 255, 255, 0.25) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.25) 50%,
      rgba(255, 255, 255, 0.25) 75%,
      transparent 75%,
      transparent);
  background-repeat: repeat-x;
  background-size: 1.5em 1.5em;
  border-radius: 10px;
  height: inherit;
  width: 100%;
  padding-bottom: 22px;
}


@keyframes progress {
  to {
    background-position: 1.5em 0;
  }
}

.prjct-overview-item {
  margin: 15px 0;
}

.prjct-overview-item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.prjct-overview-item i {
  padding: 6px;
  border-radius: 50%;
  text-align: center;
}

.prjct-overview-item-right p {
  padding: 0px 8px;
  border-radius: 5px;
  margin: 0;
  color: #1a1a1a;
}

.prjct-analy-row .col-lg-4 .col-lg-12 {
  margin-bottom: 20px;
}

@media(max-width:767px) {
  .prjct-analy-row {
    margin-top: 10px !important;
  }

  .prjct-analy-row .col-lg-3 {
    margin-top: 20px;
  }

  .prjct-analy-row .col-lg-5 {
    margin-top: 20px;
  }

  .prjct-analy-row .col-lg-4 .col-lg-12 {
    margin-bottom: 0;
  }

}

@media(min-width:768px) and (max-width:991px) {
  .prjct-analy-row .col-lg-4 {
    margin-top: 20px;
  }

  .prjct-analy-row .col-lg-3 .widget-box {
    height: 456px;
  }
}

/*================ End Admin Dashboard  ================*/

/*-- Styles for Notification Popup --*/

.notification-popup {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 350px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 1000;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.popup-body {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.notification-item {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.notification-item:last-child {
  border-bottom: none;
}

.mark-all-read {
  width: 100%;
  padding: 10px;
  background: blue;
  color: rgb(83, 105, 207);
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: block;  /* Ensure it is always visible */
  text-align: center;
}

.close-popup {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Table row highlight for unread notifications */
.unread-notification {
  background-color: #fff7de !important; /* Stronger yellow */
}


.srh-btn{
  border: none !important;
  box-shadow: none !important;
  padding: 8px 10px !important;
}


/*---------- Notification Badge ----------*/
.notification-badge{width: 20px;height: 20px;border-radius: 50%;background-color: var(--dark-red);padding: 3px;color: #fff;font-size: 10px;position: absolute;right:10px;top: -6px;text-align: center;}
.sidebar-menu a{width: max-content !important;}

.hdr-notification {margin-right: 10px;}
.hdr-notification button{background-color: transparent !important;color: var(--bs-blue);box-shadow: none !important;border: none;}
.hdr-notification button:hover,.hdr-notification button:focus{color: var(--primary-font-color);}
.hdr-notification i{font-size: 23px;}
.hdr-notification .start-100{left: 75% !important;}
.hdr-notification .badge{width:22px;height: 22px;padding: 0 !important;display: flex !important;align-items: center;justify-content: center; font-size: 10px !important;}

/*---------- End Notification Badge ----------*/

.upload-inpt{
  width: 250px;
  overflow-x: hidden;
}

@media(max-width:767px){
  .upload-inpt{
    width: 200px;
  } 

.project-timeline .timeline-item .dot{
width: 13px;
}
}

@media(min-width:768px) and (max-width:991px){
  .upload-inpt{
    width: 315px;
  } 
}

@media(min-width:767px){
  .pjct-info-dtls-box .widget-box{
  height: 350px;
}
}
.pjct-info-dtls-box.admin .widget-box{
  height: unset;
}

.certi-upld-btn{background-color: transparent;border: none;}
.certi-upld-btn{
  color: var(--edit-icon);
}

.employee-prjct-table {
  position: relative;

}
.employee-prjct-table thead {
  position: sticky;
  top: -15px;
}


  .wrk-rprt-frm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 960px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .wrk-rprt-frm h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
  }

  .wrk-rprt-frm form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .wrk-rprt-frm label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    color: #333;
  }

  .wrk-rprt-frm input,
  .wrk-rprt-frm textarea,
  .wrk-rprt-frm select {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }

  .wrk-rprt-frm textarea {
    resize: vertical;
  }

  .wrk-rprt-frm .grid-2,
  .wrk-rprt-frm .grid-3 {
    display: grid;
    gap: 20px;
  }

  .wrk-rprt-frm .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .wrk-rprt-frm .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .wrk-rprt-frm table {
    width: 100%;
    border-collapse: collapse;
  }

  .wrk-rprt-frm th,
  .wrk-rprt-frm td {
    padding: 8px 10px;
    border: 1px solid #ddd;
    vertical-align: middle;
  }

  .wrk-rprt-frm td input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .wrk-rprt-frm .add-btn {
    margin-top: 8px;
    padding: 8px 14px;
    font-size: 14px;
    background-color: var(--bs-blue);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .wrk-rprt-frm .add-btn:hover {
    background-color: var(--bs-blue);
  }

  .wrk-rprt-frm button[type="submit"] {
    background-color: var(--bs-blue);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
  }

  .wrk-rprt-frm button[type="submit"]:hover {
    background-color: var(--bs-blue);
    width: 150px;
  }

  @media (max-width: 768px) {
    .wrk-rprt-frm .grid-2,
    .wrk-rprt-frm .grid-3 {
      grid-template-columns: 1fr;
    }
  }


  .month-selector select{
    outline: none !important;
  }