{% extends 'Admin/adminbase.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

<div class="emply-list-wraper">
    <div class="pg-title">
        <h1>Attendance</h1>
    </div>

    <!-- Attendance Table with Search and Action Controls -->
    <div class="widget-box table-wdgt">
        <table id="employeeTable">
            <thead>
                <tr style="border-bottom: 1px solid #ccc">
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>
                    <div class="add-new-emply">
                      <div class="table-searchbar">
                        <div class="sidebar-search">
                            <form method="get" action="">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control search-menu" 
                                        value="{{ search_query }}" placeholder="Search by Employee Name" />
                                    <button type="submit">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                      </div>
                      <a class="badge bg-warning" href="#">Add <i class="fas fa-plus"></i></a>
                      <div class="dwnld-dropdown">
                        <a href="#" title="Download"><i class="fas fa-download"></i></a>
                        <div class="dwnld-dropdown-content">
                          <a href="#" title="Download XLSX">XLSX</a>
                          <a href="#" title="Download CSV">CSV</a>
                        </div>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Login</th>
                    <th>Logout</th>
                    <th>Total Working Hour</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                <tr>
                    <td><a href="#">{{ record.employee.user.get_full_name }}</a></td>
                    <td>{{ record.get_status_display }}</td>
                    <td>{{ record.login_time.date|date:"d/M/Y" }}</td>
                    <td>{{ record.login_time|time:"g:ia" }}</td>
                    <td>{{ record.log_out_time|time:"g:ia" }}</td>
                    <td>{{ record.total_hours_of_work|format_hours }}</td>
                    <td class="list-action-col">
                        <a href="#"><i class="far fa-edit"></i></a>
                        <a href="#"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Pagination Controls -->
        <div class="pagination" id="pagination">
            {% if attendance_records.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ attendance_records.previous_page_number }}">Previous</a>
            {% endif %}
            <span>Page {{ attendance_records.number }} of {{ attendance_records.paginator.num_pages }}</span>
            {% if attendance_records.has_next %}
                <a href="?page={{ attendance_records.next_page_number }}">Next</a>
                <a href="?page={{ attendance_records.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
