{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block content %}

<div class="dashbrd-wraper">
  <div class="pg-title">
    <h1>Dashboard</h1>
  </div>
  <div class="row sparkboxes mt-4 mb-4">
    <div class="col-md-4">
      <div class="widget-box">
        <div class="box box1">
          <div id="revenue-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-box">
        <div class="box box2">
          <div id="expence-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-box">
        <div class="box box3">
          <div id="profit-chart"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- TATP -->
  <div class="row status-card-row">
    <div class="col-lg-3 col-md-6">
      <div class="status-wdgt card-bg-green">
        <h5>Total Projects</h5>
        <h6>{{ total_projects }}</h6>
        <p>
          <i class="fas fa-arrow-up"></i> <span>10%</span> Since last
          month
        </p>

        <div class="wdgt-bg-icons"><i class="far fa-file-alt"></i></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="status-wdgt card-bg-blue">
        <h5>Total Clients</h5>
        <h6>0</h6>
        <p>
          <i class="fas fa-arrow-up"></i> <span>8%</span> Since last month
        </p>

        <div class="wdgt-bg-icons"><i class="far fa-clock"></i></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="status-wdgt card-bg-violet">
        <h5>Total Employees</h5>
        <h6>{{ active_employees }}</h6>
        <p>
          <i class="fas fa-arrow-up"></i> <span>26%</span> Since last
          month
        </p>

        <div class="wdgt-bg-icons">
          <i class="fas fa-tasks"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="status-wdgt card-bg-orange">
          <h5>Net Profit</h5>
          <h6>{{ total_profit|floatformat:0 }} AED</h6>
          <p>
              <i class="fas fa-arrow-down"></i> <span>5%</span> Since last
              month
          </p>
          <div class="wdgt-bg-icons">
              <i class="fas fa-hourglass-start"></i>
          </div>
      </div>
  </div>
  
  </div>
  <!-- End TATP -->

  <!-- Project Analysis Row -->
  <div class="row mt-5 mb-4 prjct-analy-row">
    <div class="col-lg-5 col-md-6">
      <div class="widget-box">
        <div class="widget-title">
          <h4>Project Analysis</h4>
        </div>

        <div id="project-chart"></div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="widget-box">
          <div class="widget-title" style="margin-left: 0;">
              <h4>Projects Overview</h4>
          </div>
          <hr />
          
          <div class="prjct-overview-card-top-sec">
              <div>
                  <p>Percentage of Project Completion</p>
                  <p>
                      <i class="fas fa-arrow-up"></i> <span>{{ completion_percentage }}%</span> Since last month
                  </p>
              </div>
              <div>
                  <span>{{ completion_percentage }}%</span>
              </div>
          </div>
  
          <div class="prjct-overview-progress">
            <div class="progress-bar progress-bar-width" id="progressBar">
                <div class="progress-bar-anim"></div>
            </div>
        </div>

          <div class="prjct-overview-item">
              <div>
                  <p>
                      <i class="far fa-folder-open" style="background-color: #269ffb; color: #9fd6ff"></i>
                      Total Projects
                  </p>
              </div>
              <div class="prjct-overview-item-right">
                  <p style="background-color: #8fcbfa">{{ total_projects }}</p>
              </div>
          </div>
  
          <div class="prjct-overview-item">
              <div>
                  <p>
                      <i class="far fa-folder-open" style="background-color: #ffb64871; color: #df8e15"></i>
                      Ongoing Projects
                  </p>
              </div>
              <div class="prjct-overview-item-right">
                  <p style="background-color: #ffb748">{{ ongoing_projects }}</p>
              </div>
          </div>
  
          <div class="prjct-overview-item">
              <div>
                  <p><i class="far fa-folder-open" style="background-color: #00e39741; color: #00e396"></i> Projects Completed</p>
              </div>
              <div class="prjct-overview-item-right">
                  <p  style="background-color: #00e39741">{{ completed_projects }}</p>
              </div>
          </div>
  
          <div class="prjct-overview-item">
              <div>
                  <p><i class="far fa-folder-open" style="background-color: #f13535; color: #ffb748"></i> Overdue Projects</p>
              </div>
              <div class="prjct-overview-item-right">
                  <p style="background-color: #f13535">{{ overdue_projects }}</p>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-4">
    <div class="row admin-invo-row">
        <!-- Total Invoice Amount -->
        <div class="col-lg-12 col-md-6">
            <div class="widget-box">
                <div class="widget-title" style="margin-left:0;">
                    <h4>Total Invoice Amount</h4>
                </div>
                <div id="total-invo"></div>
                <h6 class="mt-2">{{ total_revenue|floatformat:0 }} AED</h6>

            </div>
        </div>

        <!-- Pending Invoice Amount -->
        <div class="col-lg-12 col-md-6">
            <div class="widget-box">
                <div class="widget-title" style="margin-left: 0;">
                    <h4>Pending Invoice Amount</h4>
                </div>
                <div id="pending-invo"></div>
                <h6 class="mt-2">{{ pending_invoices|floatformat:0 }} AED</h6>
            </div>
        </div>
    </div>
</div>
 
  </div>
  </div>


  <!-- End Project Analysis Row -->


  <!-- Project Table -->
  <div class="widget-box table-wdgt">
    <div class="widget-title">
      <h4>Projects</h4>
    </div>
    <table class="prjtc-table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Team</th>
          <th>Manager</th>
          <th>Priority</th>
          <!-- <th>Tasks</th> -->
          <!-- <th>Completed</th> -->
          <th>Status</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        {% for project in project_details %}
        <tr>
          <td>
            <a href="{% url 'project-summary' project.id %}">
              {{ project.name }}
            </a>
          </td>
          <td>
            <div class="avatars">
              <img src="{% static 'assets/images/user-pro.webp' %}" alt="Team Member" />
              <img src="{% static 'assets/images/user-pro.webp' %}" alt="Team Member" />
              <img src="{% static 'assets/images/user-pro.webp' %}" alt="Team Member" />
              <span>+1</span>
            </div>
          </td>
          <td>{{ project.leader_name }}</td>
          <td>
            <span class="priority {{ project.priority | lower }}">
              {{ project.priority }}
            </span>
          </td>
          <td><span class="status {{ project.status | lower }} | Assign ">{{ project.status }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
      
    </table>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Ensure completion_percentage is safely rendered as a number
      let completionPercentage = parseFloat("{{ completion_percentage|default:0 }}") || 0;
      
      let progressBar = document.getElementById("progressBar");
  
      if (progressBar) {
          progressBar.style.width = completionPercentage + "%";
      }
  });
  </script>
  

{% endblock %}
