{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block content %}

<div class="emply-list-wraper">
  <div class="pg-title">
      <h1>Employee</h1>
  </div>

  <!-- Employs List -->
  <div class="widget-box table-wdgt">
      <table id="employeeTable">
          <thead>
              <tr style="border-bottom: 1px solid #ccc">
                  <th>Name</th>
                  <th>Employee ID</th>
                  <th>Rank</th>
                  <th>Email</th>
                  <th>Total Work Days</th>
                  <th>Project</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            {% for assignment in page_obj %}
            <tr>
                <td><a href="#">{{ assignment.employee.user.get_full_name }}</a></td>
                <td>{{ assignment.employee.id }}</td>
                <td>{{ assignment.employee.rank }}</td>
                <td>
                    <a href="mailto:{{ assignment.employee.user.email }}">
                        <i class="far fa-envelope"></i> {{ assignment.employee.user.email }}
                    </a>
                </td>
                <td>{{ assignment.employee.work_days }}</td>
                <td>{{ assignment.project.name }}</td>
                <td class="list-action-col">
                    <a href="{% url 'edit-employee' assignment.employee.id %}"><i class="far fa-edit"></i></a>
                    <a href="{% url 'delete-employee' assignment.employee.id %}"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No employees found.</td>
            </tr>
            {% endfor %}
        </tbody>        
      </table>

      <!-- Pagination -->
      <div class="pagination" id="pagination">
          {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
              <button class="active">{{ num }}</button>
              {% else %}
              <a href="?page={{ num }}">{{ num }}</a>
              {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
          {% endif %}
      </div>
  </div>
</div>


{% endblock %}