{% extends 'Admin/adminbase.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <h2>All Attachments for Project: {{ project.name }}</h2>
  {% if attachments %}
    <table class="table allattachments table-bordered mt-3">
      <thead>
        <tr>
          <th>File Name</th>
          <th>Uploaded By</th>
          <th>Uploaded At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for file in attachments %}
          <tr>
            <td>{{ file.file.name|cut:'project_attachments/' }}</td>
            <td>{{ file.uploaded_by.user.get_full_name }}</td>
            <td>{{ file.uploaded_at|date:"d M Y H:i" }}</td>
            <td>
              <a href="{{ file.file.url }}" target="_blank" class="btn">View File</a>

              {% if request.user.is_superuser or file.project.manager.user == request.user %}
                  <a href="{% url 'admin_delete_project_attachment' file.id %}" class="btn btn-danger btn-sm"
                     onclick="return confirm('Are you sure you want to delete this file?');">
                     Delete
                  </a>
                {% endif %}
            
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No attachments available.</p>
  {% endif %}
</div>
{% endblock %}
