{% extends 'employee/employeebase.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}



<div class="emply-list-wraper">

    <div class="container mt-3">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
    </div>

    
    <div class="pg-title">
        <h1>Attendance</h1>
    </div>

    <!-- Employs List -->
    <div class="widget-box table-wdgt">
        <!-- <div class="add-new-emply">
<a class="badge bg-warning" href="add-employee.html">Add <i class="fas fa-plus"></i></a>
<a href="#" title="Xlsx Download"><i class="fas fa-download"></i></a>
</div> -->
        <table id="employeeTable">
            <!-- <thead>
                <tr style="border-bottom: 1px solid #ccc">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <div class="add-new-emply">
                            <div class="table-searchbar">
                                <div class="sidebar-search">
                                    <div>
                                        <div class="input-group">
                                            <input type="text" class="form-control search-menu"
                                                placeholder="Search..." />
                                            <a href="#">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="badge bg-warning" href=#>Add <i class="fas fa-plus"></i></a>
                            <div class="dwnld-dropdown">
                                <a href="#" title="Download"><i class="fas fa-download"></i></a>
                                <div class="dwnld-dropdown-content">
                                    <a href="#" title="Download XLSX">XLSX</a>
                                    <a href="#" title="Download CSV">CSV</a>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead> -->
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Login</th>
                    <th>Logout</th>
                    <th>Working Hours</th>
                    <th>Location</th>
                    <th>Vessel</th>
                    <th>Project</th>
                    <th>Travel Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                <tr>
                    <td>{{ record.login_time|date:"d/m/Y" }}</td>
                    <td>{{ record.login_time|time:"h:i A" }}</td>
                    <td>
                        {% if record.log_out_time %}
                        {{ record.log_out_time|time:"h:i A" }}
                        {% else %}
                        <span class="text-danger">Not logged out</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if record.total_hours_of_work %}
                        {{ record.total_hours_of_work|format_work_duration }}
                        {% else %}
                        00:00 hrs
                        {% endif %}
                    </td>
                    <td>
                        {% if record.location %}
                            {{ record.get_location_display }}
                        {% else %}
                            <span class="text-muted">Not specified</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if record.vessel %}
                            {{ record.vessel }}
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if record.project %}
                            {{ record.project.name }}
                        {% else %}
                            <span class="text-muted">No project assigned</span>
                        {% endif %}
                    </td>
                    
                    <td>
                        {% if record.total_travel_time and record.total_travel_time != 'None' %}
                            {{ record.total_travel_time }}
                        {% else %}
                            --:--
                        {% endif %}
                    </td>
                    
                    <td>
                        {% if record.attendance_status %}
                            {% if record.status == 'APPROVED' %}
                                <span class="status 
                                    {% if record.attendance_status == 'PRESENT' %}present
                                    {% elif record.attendance_status == 'LEAVE' %}leave
                                    {% elif record.attendance_status == 'WORK FROM HOME' %}work-from-home
                                    {% elif record.attendance_status == 'SICK LEAVE' %}sick-leave
                                    {% elif record.attendance_status == 'ANNUAL LEAVE' %}annual-leave
                                    {% elif record.attendance_status == 'CASUAL LEAVE' %}casual-leave
                                    {% endif %}
                                ">
                                    {{ record.get_attendance_status_display }}
                                </span>
                            {% else %}
                                <span class="status absent">No Status</span>
                            {% endif %}
                        {% else %}
                            <span class="status absent">No Status</span>
                        {% endif %}
                    </td>
                    <td class="list-action-col">
                        <a href="{% url 'employee_update_travel_time' record.id %}"><i class="far fa-edit"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No attendance records found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div class="pagination" id="pagination">
    {% if attendance_records.has_previous %}
        <a href="?page={{ attendance_records.previous_page_number }}">
            <button>&laquo; Prev</button>
        </a>
    {% endif %}

    {% with current=attendance_records.number %}
        {% for num in attendance_records.paginator.page_range %}
            {% if num >= current|add:"-1" and num <= current|add:"1" %}
                {% if num == current %}
                    <button class="active">{{ num }}</button>
                {% else %}
                    <a href="?page={{ num }}">
                        <button>{{ num }}</button>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endwith %}

    {% if attendance_records.has_next %}
        <a href="?page={{ attendance_records.next_page_number }}">
            <button>Next &raquo;</button>
        </a>
    {% endif %}
</div>

</div>

{% endblock %}