{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Almabrouk CRM</title>
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
</head>
<body>
    <div class="container login-wrapper">
        <div class="login-container">
            <h1>Almabrouk</h1>
            <p>Log in to access your tools and information.</p>
            
            <!-- Display error messages -->
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form id="loginForm" method="POST">
                {% csrf_token %}
                <input type="text" id="username" name="username" required placeholder="Enter your username">
                <input type="password" id="password" name="password" required placeholder="*********">
                <button type="submit">Log in</button>
            </form>

            <a href="#">Forgot password?</a>
            <div class="footer">
                <p>&copy; 2024 Almabrouk</p>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>

